<div class="user-container flex justify-between">
    <div class="infor flex gap-3">
        <img class="w-[2rem] h-[2rem] rounded-full" [src]="src" alt="Image user">
        <div [ngClass]="{'me':this.userId==myId}">{{username}}</div>
        <span *ngIf="this.userId==myId">(Me)</span>
    </div>
    <div class="flex gap-3">
        <button *ngIf="type==='request' && (role=='teacher' || role=='host')" class="btn-view" (click)="onSubmit()">Accept</button>
        <button *ngIf="role=='teacher' || role=='host'" class="btn-remove" (click)="onRemove()">Remove</button>
    </div>
</div>