<div class="scheduler-container">
    <div *ngIf="flagService.isActiveSchedulerNotification$ | async" class="scheduler-notification">
        <div class="scheduler-notification-header" *ngIf="this.schedulerService.selectedDate$|async as selectedDate">Scheduler - {{ selectedDate | date: 'dd/MM/yyyy' }}</div>
        <div class="scheduler-notification-content" *ngIf="this.schedulerService.schedulers$|async as schedulers">
            <ul *ngIf="schedulers.length>0" class="notification-content mt-3"
                [ngClass]="{ 'notification-content-full-height': (flagService.isActiveScheduler$ | async) === false }">
                <li class="w-full" *ngFor="let class of schedulers">
                    <a class="content" routerLinkActive="scheduler-active" [routerLinkActiveOptions]="{ exact: false }"
                        [routerLink]="['/scheduler',class.schedulerID,'view']">
                        <div class="flex items-center gap-5">
                            <div class="circle-blue"></div>
                            <div>
                                <p class="class-name">{{ class.Classroom?.className }}</p>
                                <p class="class-user">{{class.User?.fullName}}</p>
                            </div>
                            <p class="class-start-time">Start at: {{class.startTime | date:'HH:mm'}}</p>
                        </div>
                        <img src="/assets/images/arrow-right.svg">
                    </a>
                </li>
            </ul>
            <div *ngIf="schedulers.length==0" class="w-full h-full flex justify-center mt-[2rem]">You don't have schedule today!</div>
        </div>
    </div>
</div>