@use 'scss/mixin.scss' as *;

.home-container{
    width:100%;
    background-color: white;
    padding:2rem;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.infor-container{
    width:auto;
    display:flex;
    gap:1rem;
    justify-content: center;
}
.number{
    font-size: 2rem;
}

.box-sum{
    @include button(auto,auto,50px 20px 50px 20px,black,10px, #E5CBCB,null)
}
.box-request{
    @include button(auto,auto,50px 20px 50px 20px,black,10px, #CBDCE5,null)
}