<div class="home-container">
    <div class="infor-container" *ngIf="this.classService.countData$|async as count">
        <a [routerLink]="['../all-members']"  class="flex-2 flex flex-col gap-3 justify-center items-center box-sum">
            <div class="number">{{ count.countJoined }}</div>
            <div>Student</div>
        </a>
        <a *ngIf="role=='teacher'" [routerLink]="['../all-members/request']"  class="flex-2 flex flex-col gap-3 justify-center items-center box-request">
            <div class="number">{{  count.countWaiting }}</div>
            <div>
                Request join class
            </div>
        </a>
    </div>
    <div class="meeting-today flex flex-col gap-4">
        <div class="meeting-today-header">
            All room meeting today
        </div>
        <div class="grid grid-rows-2 gap-3">
            <ng-container *ngFor="let room of paginatedContents">
                <app-room [roomId]="room.roomID" [roomTitle]="room.title" [startTime]="toDate(room.startTime)"></app-room>
            </ng-container>
            <div *ngIf="paginatedContents.length==0" class="deactive text-[1.2rem] text-center">You don't have any meetings today!</div>
        </div>
    </div>
</div>
<div class="flex justify-center">
    <app-pagination [totalItems]="roomPreviews.length" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
        (pageChange)="onPageChange($event)"></app-pagination>
</div>