<div class="home-container">
    <div class="infor-container">
        <div class="flex flex-col gap-3">
            {{ 'value' }}
            Student
        </div>
        <div class="flex flex-col gap-3">
            {{ 'value' }}
            Request join class
        </div>
    </div>
    <div class="meeting-today">
        <div class="meeting-today-header">
            All room meeting today
        </div>
        <div class="flex flex-col gap-3">
            <div class="box"></div>
        </div>
    </div>
</div>