@use 'scss/mixin' as *;
@use 'scss/variables' as *;

.scheduler-container{
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.scheduler-header {
    display: flex;
    justify-content: space-between;
}

.scheduler-header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.scheduler-button-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.scheduler-button-change>button {
    @include button(2.2rem, 2.2rem, 10px, #6D7C90, 100%, white, 1px solid rgba(0, 0, 0, 0.2), null);
}

.scheduler-content {
    margin-top: 2rem;
    width: 100%;
    flex-grow: 1;
}

.scheduler-table {
    width: 100%;
    font-size: 0.8rem;
    border-collapse: separate;
    border-spacing: 10px;
    height:100%;
}

.scheduler-table>thead {
    color: #3649F9;
    font-weight: 600;
}

.scheduler-table>tbody>tr>td {
    text-align: center;
    @include button(2rem, 2rem, 5px, #6D7C90, 100%, white, null);
}

.current-date {
    color: #3649F9 !important;
}

.past-date {
    color: #6d7c9067 !important;
}

.future-date {
    color: black !important;
}

.selected-date {
    background-color: #3649F9 !important;
    color: white !important;
}

